.cardsContainer{
    width: 55%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
}

.Card{
    background-color: white;
    width: 100%;
    max-width: 530px;
    max-height: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
}
.header {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 16px 10px;
    align-items: center;
}
.name{
    font-size: 16px;
    font-weight: 550;
    white-space: nowrap;
    padding: 0px 4px 0px 16px
}
.time {
    font-size: 10px;
}
.post {
    max-height: 250px;
    height: 100%;
    object-fit: cover;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}
.iconContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 6px 0px;
}
.icon {
    color: rgb(51, 50, 50);
    font-size: 20px;
}
.icon:hover{
    color:#A974FF;
}
.nameInfo{
    font-weight: 550;
    margin: 2px 0px;
    font-size: 14px;
}

.footerContainer {
    display: flex;
    flex-direction: column;
}
.likesComments{
    font-size: 11px;
    color:rgb(80, 79, 79);
}
.likesComments:hover{
    color: #A974FF;
    cursor: pointer;
}
.addComments{
    margin: 12px 0px;
    border:rgb(51, 50, 50);
    outline: none;
    font-size: 12px;
}
.caption{
    font-size: 14px;
}
.avatar{
     width: 40px;
     height: 40px;
}
@media screen and (max-width:1024px) {
    .cardsContainer{
        width: 53%;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: fit-content;
    }
    .Card{
        background-color: white;
        width: 100%;
        max-width: 460px;
        max-height: 900px;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 10px;
    }
    .addComments{
        margin: 12px 0px;
        border:rgb(51, 50, 50);
        outline: none;
        font-size: 10px;
    }
    .header {
        display: flex;
        flex-direction: row;
        padding: 8px 8px 14px 8px;
        align-items: center;
    }
    .nameInfo{
        font-weight: 550;
        margin: 2px 0px;
        font-size: 13px;
    }
    .name{
        font-size: 15px;
        font-weight: 550;
        white-space: nowrap;
        padding: 0px 4px 0px 16px
    }
    .avatar{
        width: 35px;
        height: 35px;
   }
   .caption{
    font-size: 13px;
}
}
@media screen and (max-width:908px) {
    .cardsContainer{
        width: 50%;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: fit-content;
    }
    .Card{
        background-color: white;
        width: 100%;
        max-width: 390px;
        max-height: 700px;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 10px;
    }
    .nameInfo{
        font-weight: 550;
        margin: 2px 0px;
        font-size: 12px;
    }
    .name{
        font-size: 14px;
        font-weight: 550;
        white-space: nowrap;
        padding: 0px 4px 0px 16px
    }
    .avatar{
        width: 33px;
        height: 33px;
    }
    .caption{
        font-size: 12px;
    }
}
@media screen and (max-width:412px) {
    .cardsContainer{
        width: 70%;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: fit-content;
    }
    .Card{
        background-color: white;
        width: 100%;
        max-width: 550px;
        max-height: 1020px;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 10px;
        z-index: 1;
    }
    .nameInfo{
        font-weight: 550;
        margin: 2px 0px;
        font-size: 11px;
    }
    .name{
        font-size: 13px;
        font-weight: 550;
        white-space: nowrap;
        padding: 0px 4px 0px 16px
    }
    .avatar{
        width: 30px;
        right: 4px;
        height: 30px;
    }
    .caption{
        font-size: 11px;
    }
}
