
.Card1
{
  margin:7rem 0 7rem 25rem;  
  max-height: 601px;
  height: 100%;
  max-width: 580px;
  width: 100%;
  position: absolute;
  top: 100px;
  left: 50px;
  box-shadow: 0px 2px 6px 2px rgba(125, 125, 125, 0.25);
  padding-bottom:8rem;
}
.min{
  display: flex;
  justify-content: space-evenly;
}

.head{
  display: flex;
  flex-direction: row;
}
.headContainer{
  display: flex;
  flex-direction: row;
  gap:1rem;
  padding: 2rem;

}
.name{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.home-icon{
    position: absolute;
left: 79.19px;
right: 91.94%;
top:90px;
bottom: 96.5%;
color:  #A974FF;
}

.search-icon{
    position: absolute;
left: 6.11%;
right: 91.94%;
top: 135px;
bottom: 94.97%;
color: #A974FF;
}
.menu-link{
    position: absolute;
width: 200px;
height: 200px;
left: 79.19px;
top: 36px;
color: #25396F;
}
.home-link{
    position: absolute;
    width: 40px;
    height: 10px;
    left: 115.19px;
    top: 90px;
    color: #000000;
}
.search-link{
    position: absolute;
width: 47px;
height: 11px;
left: 115.19px;
top: 135px;

color: #000000;
}
.explore-icon{
    position: absolute;
left: 6.11%;
right: 91.94%;
top: 180px;
bottom: 94.97%;
color: #A974FF;
}
.explore-link{
    position: absolute;
width: 51px;
height: 13px;
left: 115.19px;
top: 180px;
color: #000000;
}
.message-link{
    position: absolute;
width: 62px;
height: 13px;
left: 115.19px;
top: 224px;
color: #000000;
}
.message-icon{
    position: absolute;
left: 79.19px;
right: 91.94%;
top: 224px;
bottom: 96.5%;
}

.padding-container{
  padding: 2rem;
  color:  #A974FF;
}
.profile-link{
    position: absolute;
width: 43px;
height: 11px;
left: 115.19px;
top: 272px;
}


.settings{
  margin-left: 20rem;
}
.A{
  max-height: 300px;
  height: 100%;
  padding-bottom: 2rem;
}
.icon{
  color: black;
  font-size: 2.3rem;
}
.icon-container{
  display: flex;
  justify-content: space-evenly;
}
.Footer-container{
  display: flex;
  flex-direction: column;
}
.caption{
  display: block;
}
.flex-container{
  display: flex;
  flex-direction: row;
  gap: 12px;
  color: #000000;
}
.profile-icon{
    position: absolute;
    left: 79.19px;
    right: 91.94%;
    top: 272px;
    bottom: 96.5%;
    
    color:  #A974FF;
}
.message{
    position: absolute;
    width: 81.55px;
    height: 18.48px;
    left: 1102.13px;
    top: 170.95px;
    
    color: #A974FF;
}
.side-contain{
    cursor: pointer;
}
.message-icon-1{
    position: absolute;
width: 46px;
height: 46.89px;
left: 1054.13px;
top: 222.95px;

}
.message-name-1{
position: absolute;
width: 113.48px;
height: 17.91px;
left: 1112.13px;
top: 236.95px;
color: #25396F;
}
.message-tag{
    position: absolute;
width: 81.55px;
height: 18.48px;
left: 1102.13px;
top: 170.95px;
color: #A974FF;
}
.message-icon-2{
    position: absolute;
    width: 46px;
    height: 46.89px;
    left: 1054.13px;
    top: 302.95px;
}
.message-name-2{
    position: absolute;
    width: 113.48px;
    height: 17.91px;
    left: 1109.13px;
    top: 311.95px;
    
    color: #25396F;
}
.message-icon-3{
    position: absolute;
    width: 46px;
    height: 46.89px;
    left: 1054.13px;
    top: 382.95px;
    
}
.message-name-3{
    position: absolute;
    width: 113.48px;
    height: 17.91px;
    left: 1112.5px;
    top: 399.09px;
    
    color: #25396F;
}
.message-icon-4{
    position: absolute;
    width: 46px;
    height: 46.89px;
    left: 1054.13px;
    top: 462.95px;
    
}
.message-name-4{
    position: absolute;
    width: 113.48px;
    height: 17.91px;
    left: 1112.5px;
    top: 479.09px;
    color: #25396F;
}
.side-contain{
  left: 1112.5px;
}