.Card1
{
  margin:7rem 0 7rem 25rem;  
  max-height: 601px;
  height: 100%;
  max-width: 580px;
  width: 100%;
  position: absolute;
  top: 100px;
  left: 361px;
  box-shadow: 0px 2px 6px 2px rgba(125, 125, 125, 0.25);
  padding-bottom:8rem;
}
.min{
  display: flex;
  justify-content: space-evenly;
}

.head{
  display: flex;
  flex-direction: row;
}
.headContainer{
  display: flex;
  flex-direction: row;
  gap:1rem;
  padding: 2rem;

}
.name{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.padding-container{
  padding: 2rem;
}

.settings{
  margin-left: 20rem;
}
.A{
  max-height: 300px;
  height: 100%;
  padding-bottom: 2rem;
}
.icon{
  color: black;
  font-size: 2.3rem;
}
.icon-container{
  display: flex;
  justify-content: space-evenly;
}
.Footer-container{
  display: flex;
  flex-direction: column;
}
.caption{
  display: block;
}
.flex-container{
  display: flex;
  flex-direction: row;
  gap: 12px;
}
