.homeContainer{
  display: flex;
  justify-content: center;
  background-color: rgb(243, 243, 243);
  height: 100vh;
  /* overflow-y: scroll; */
}

@media screen and (max-width:412px){
  .homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
}