.msg_body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.msg_sbar {
    order: 0;
    width: 18%;
    height: 100vh;
}

.msg_pannel {
    order: 1;
    width: 27.5%;
    background-color: aliceblue;
    height: 100vh;
}

.msg_view {
    order: 2;
    width: 54.5%;
    background-color: aliceblue;
    height: 100vh;
}

.msgv_align {
    padding-top: 30%;
    text-align: center;
}


.msgp_heading {
    margin-top: 3rem;
    font-size: 3rem;
    text-align: center;
}

.msgp_notif {
    margin-top: 2.4rem;
    cursor: pointer;
    overflow-y: scroll;
    height: 77vh;
}

.msgp_messages {
    align-self: flex-end;
    font-size: 2.4rem;
    color: #aa75ff;
    margin-left: 1rem;
}

.msgp_Icon {
    width: 5.5rem;
    height: 5.5rem;
}

.msgp_Name {
    font-size: 2.5rem;
}

.msgp_para {
    margin-top: 1%;
    font-size: 2.1rem;
    margin-bottom: 2%;
}

.msgv_button {
    border: none;
    color: cornsilk;
    padding: 15px 32px;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 3rem;
    background-color: coral;
}

.msgv_button:hover {
    background-color: chocolate;
}

.msg_rotate {
    height: .2rem;
    width: 199vh;
    margin-left: -75.5rem;
    background-color: gainsboro;
    transform: rotate(90deg);
}

.msgv_icn {
    height: 8rem;
    width: 10rem;
    margin-bottom: 2%;
}

.msgp_add {
    display: flex;
    flex-wrap: wrap;
    height: 7.8rem;
}

.msgp_addBtn {
    /* margin-top: 3rem; */
    font-size: 3rem;
    color: brown;
    margin-left: 60%;
    cursor: pointer;
    align-self: flex-end;
}

.msgp_addBtn:hover {
    color: green;
}

.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding: 14px 26px;
    width: 100%;
    flex-wrap: wrap;
    font-weight: 400;
}

.message:hover {
    background-color: rgb(199, 202, 199);
}