.pfp img {
  border-radius: 500px;
  position: relative;
  /* margin-left: 30px; */

  height: 20vh;
  width: 20vh;
  min-width: 60px;
  min-height: 60px;
  border: 3px solid #a974ff;
  /* border:3px solid #8b498c; */
  /* border-image-source:  linear-gradient(to left,#ffffff,#8b498c); */
  padding: 6px;
}

.head {
  display: flex;
  position: relative;
  left: 250px;
  justify-content: space-between;
  width: 50vw;
  /* height: 60vh; */
}

.bio span {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
}

.pfp {
  position: relative;
  margin-left: 60px;
  top: 20vh;
  height: 20vh;
  width: 25vh;
  /* min-width: 60px;
  min-height: 60px; */
  object-fit: cover;
  /* background-color: #a974ff44; */
  border-radius: 500px;
  /* border: 3px solid #a974ff; */
}
.bio {
  width: 80rem;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20vh;
  left: 20rem;
}

.edit,
.data {
  display: flex;
  align-items: center;
}

.editb {
  background-color: #a974ff;
  color: white;
  padding: 0 30px 0 30px;
  height: 4rem;
  border: transparent;
  font-size: 1.5rem;
  border-radius: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

.posts,
.conex {
  margin-right: 20px;
  font-size: 1.6rem;
  display: flex;
  align-content: center;
}

.data {
  margin-top: 20px;
}

.bo {
  font-weight: bolder;
  font-size: 1.4rem;
  margin-right: 8px;
  margin-bottom: 0;
}

.grid {
  position: relative;
  left: 350px;
  width: 72%;
  top: 220px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 50px;
}

.caption {
  font-size: 1.6rem;
  font-style: italic;
  margin-top: 20px;
}

.links a,
.links {
  color: #a974ff;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: none;
}

.posts,
.conex,
.editb:hover {
  cursor: pointer;
}

.photo img:hover {
  transform: scale(1.03);
}

.photo img {
  transition: transform 0.2s;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.673),
    0 6px 30px 0 rgba(73, 72, 72, 0.19);
  border-radius: 8px;
  min-width: 190px;
  min-height: 190px;
}

.photo {
  background-color: #a974ff44;
  width: 300px;
  height: 400x;
  min-width: 190px;
  min-height: 290px;
  display: flex;
  justify-content: center;
  background-image: url("https://i.scdn.co/image/ab67706c0000da84bfb952f89350d7c8d6fae332");
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.673),
    0 6px 30px 0 rgba(73, 72, 72, 0.19);
  border-radius: 8px;
}

.photo:before {
  background-image: inherit;
}

.editb:hover {
  background-color: #6a4a9d;
}

@media screen and (max-width: 413px) {
  .grid {
    display: flex;
    flex-direction: column;
    left: 150px;
  }

  .head {
    left: 0px;
  }
}

.details {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
}

.details:hover {
  opacity: 1;
}

.details p {
  font-size: 13px;
  font-weight: bold;
  color: white;
}

.flex {
  display: flex;
}
